<a href="https://colab.research.google.com/github/pavanmatkar/Devops-Notes/blob/master/TB_python_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#first class
print("hello world")

hello world

In [ ]:
a = "Hello World"
print(a[0])
print(a[1])
print(a[2])

H
e
l

In [ ]:
#single assignment operator
a = 4 
print(a)

4

In [ ]:
#multiple assignment operator
name,age,gender = "anil", 24, "male"
print(name)
print(age,gender)

anil
24 male

In [ ]:
a=5 
print("anil is ", +a)

anil is  5

In [ ]:
a=5 
print("anil is",a,"years old ")

anil is 5 years old

In [ ]:
print("rahul"+ " "+"Sharma")

rahul Sharma

In [ ]:
a=4
b=7
print("the output of addition ", a+b)
print("the output of substraction ", a-b)
print("the output of multiplication ", a*b)
print("the output of division ", a/b)
print("the output of reminder ", b%a)
print("the output of exponential ", a**b)
print("the output of round off ", 15//2)

the output of addition  11
the output of substraction  -3
the output of multiplication  28
the output of division  0.5714285714285714
the output of reminder  3
the output of exponential  16384
the output of round off  7

In [ ]:
#comparison operator
print("the output of a is greater than b", a>b )
print("the output of a is smaller than b", a<b )
print("the output of a is equal to b", a==b )
print("the output of a is greater than or equal to b", a>=b )
print("the output of a is smaller than or equal to b", a<=b )
print("the output of a is not equal to b", a!=b )

the output of a is greater than b False
the output of a is smaller than b True
the output of a is equal to b False
the output of a is greater than or equal to b False
the output of a is smaller than or equal to b True
the output of a is not equal to b True

In [ ]:
#logical operator
#and operator
#or operator
#and operator needs two conditions to be true
#or operator needs atleast one of the two conditions to be true.
print("the output of AND is", (a>1 and a<7))
print("the output of AND is", (a>5 and a<7))
print("the output of AND is", (a>1 and a<3))
print("the output of AND is", (a>1 and a<3))
#############################################
print("the output of OR is", (a>1 or a<7))
print("the output of OR is", (a>5 or a<7))
print("the output of OR is", (a>1 or a<2))
print("the output of OR is", (a>5 and a<3))

the output of AND is True
the output of AND is False
the output of AND is False
the output of AND is False
the output of OR is True
the output of AND is True
the output of AND is True
the output of AND is False

In [ ]:
#membrship operator
# in , not in
a = ["apple", 20]
print("apple" in a)
print ("mango" not in a)

True
True

In [ ]:
#identity operator
# is, is not
a = ["apple", 20]
b=a
print(b is a)
print (b is not a)
print(a is b)
print (a is not b)

True
False
True
False

In [ ]:
#input 
name= input("enter your name:")
print("the name is :", name)

enter your name:anil
the name is : anil

In [ ]:
a = int(input("the value of a is:"))
b = int(input("the value of b is:"))
print(a + b)

the value of a is:1
the value of b is:2
3

In [ ]:
#second class
#datatypes date:[30-07-22]
a = 5 
print(type(a))

<class 'int'>

In [ ]:
#number
#type casting
a = float(5)
print(a)
print(complex(5))
print(int(5.0))

5.0
(5+0j)
5

In [ ]:
#string
a = "Hello World"
print(a[1])
print(a[1:7])

e
ello W

In [ ]:
#case change
a = "HeLlo"
b = "WORLD"
print(a.upper())
print(b.lower())

HELLO
world

In [ ]:
#find
a = "Hello "
print(a.find("ll"))

2

In [ ]:
#replace
a = "Hello Student"
print(a.replace("Hello","Hi"))

Hi Student

In [ ]:
#join
" ".join(["I","am","a","student"])

'I am a student'

In [ ]:
#split
"I am a student".split()

['I', 'am', 'a', 'student']

In [ ]:
#list 
list()

[]

In [ ]:

a = ["apple",20,30.5]
print(a)
type(a)
len(a)
print(a[0:2])

['apple', 20, 30.5]
['apple', 20]

In [ ]:
#length
a = "Hello World"
len(a)
#type(a)

11

In [ ]:
#update
a = ["apple",20,30]
a[1] = "banana"
print(a)

['apple', 'banana', 30]

In [ ]:
#multiple update
a = [10,20,30,40,50]
a[1:4] = [60,70,80]
print(a)

[10, 60, 70, 80, 50]

In [ ]:
#mutable means we can change the value after defining it...
#append
a = ["apple","banana"]
a.append("mango")
print(a)

['apple', 'banana', 'mango']

In [ ]:
#insert
b=[10,20,30,40,50,60]
b.insert(1,90)
print(b)
b.insert(-1,88)
print(b)

[10, 90, 20, 30, 40, 50, 60]
[10, 90, 20, 30, 40, 50, 88, 60]

In [ ]:
### there was a problem in this code it should insert in the last position but it inserting in the last second
list=["apple","banana",20,20.5,30]
list.insert(-1,"mango")
print(list)

['apple', 'banana', 20, 20.5, 'mango', 30]

In [ ]:
list1=[20,30,40,50]
list2=[60,70,80,90]
list1.extend(list2)
print(list1)

[20, 30, 40, 50, 60, 70, 80, 90]

In [ ]:
list3=[1,2,3,4,5]
list1.extend(list3)
print(list1)

[20, 30, 40, 50, 60, 70, 80, 90, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [ ]:
#extend
list4=[6,7,8,9,10]
list1.extend(list4)
print(list1)

[20, 30, 40, 50, 60, 70, 80, 90, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
#remove
a = ["apple","mango","banana"]
a.remove("banana")
print(a)

['apple', 'mango']

In [ ]:
a.pop(1)
print(a)

['apple']

In [ ]:
list1=["apple"]
del list1

In [ ]:
del a

In [ ]:
a = [10,20,30]
z = a.copy()
print(z)

[10, 20, 30]

In [ ]:
#sort
a = [50,20,30,90]
a.sort()
print(a)

[20, 30, 50, 90]

In [ ]:
#decreasing order
a.sort(reverse=True)
print(a)

[90, 50, 30, 20]

In [ ]:
### TUPLE ###
a = ()
type(a)

tuple

In [ ]:
a= ("a","b","c","d")
print(a)
print(len(a))
#accessing the elements
print(a[0])
print(a[1])
print(a[2])
print(a[3])
#negative indexing
print(a[-1])
print(a[-2])
print(a[-3])
print(a[-4])
#ranging
print(a[0:3])
print(a[0:2])
print(a[0:1])

('a', 'b', 'c', 'd')
4
a
b
c
d
d
c
b
a
('a', 'b', 'c')
('a', 'b')
('a',)

In [ ]:
a = (10,20,30,40,50)
print(type(a))
b= list(a)
print(b)

<class 'tuple'>
[10, 20, 30, 40, 50]

In [ ]:
#update
b[1] = "banana"
print(b)

[10, 'banana', 'a', 30, 40, 50]

In [ ]:
#apppend
b.append("mango")
print(b)
#insert
b.insert(1,"a")
print(b)

[10, 'banana', 'a', 30, 40, 50, 'mango']
[10, 'a', 'banana', 'a', 30, 40, 50, 'mango']

In [ ]:
b.pop()
print(b)
b.pop()
print(b)

[10, 'a', 'banana', 'a']
[10, 'a', 'banana']

In [ ]:
a = (1,2,3,4,5)
b = (6,7,8,9,10)
print(a + b)
print(a*5)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [ ]:
### SET ###
a = {0}
type(a)

set

In [ ]:
a = {10,20,30,40,50}
print(type(a))
print(len(a))
print(a)

<class 'set'>
5
{40, 10, 50, 20, 30}

In [ ]:
#membership operator
print(10 in a)
print(60 in a)

True
False

In [ ]:
a.add(60)
print(a)

{40, 10, 50, 20, 60, 30}

In [ ]:
a.add(100)
print(a)

{100, 40, 10, 50, 20, 60, 30}

In [ ]:
print(a)

{40, 10, 50, 20, 60}

In [ ]:
a = {10,20,30,40,50}
b = {60,70,80,40,50}
c = a.union(b)
print(c)
c = a.intersection(b)
print(c)

{70, 40, 10, 80, 50, 20, 60, 30}
{40, 50}

In [ ]:
a = {'name':'john', 'age':24, 'gender':'male'}
print(type(a))
print(len(a))
a["name"]="amit"
print(a)

a.update({"age":29})
print(a)

a.pop("age")
print(a)

<class 'dict'>
3
{'name': 'amit', 'age': 24, 'gender': 'male'}
{'name': 'amit', 'age': 29, 'gender': 'male'}
{'name': 'amit', 'gender': 'male'}

In [ ]:
b = a.copy()
print(b)

{'name': 'amit', 'gender': 'male'}

In [ ]:
##  CONDITIION STATEMENT ##
#1. decision making
#if-else
#switch
a = 6
if a>5:
  print(a)
else:
  print("no need")

6

In [ ]:
#nested if
a = 1
if a > 5:
  if a > 10:
    print(a)
  else:
    print("no responce")
else:
  print("no need")

no need

In [ ]:
#if-elif-else statement
a = 7
if a>5:
  print("a is greater that 5")
elif a<5:
  print("a is less than 5")
else:
  print("a is equal to 5")

a is greater that 5

In [ ]:
marks = 49
if 100 >= marks >= 90:
  print("Grade A")
elif 89 >= marks >= 80:
  print("Grade B")
elif 79 >= marks >= 70:
  print("Grade C")
elif 69 >= marks >= 60:
  print("Grade D")
elif 59 >= marks >= 50:
  print("Grade E")
elif 50 > marks:
  print("Fail")

Fail